# Configuração do Wazuh
WAZUH_BASE_URL=https://172.31.0.16:55000
WAZUH_USER=miguel_integracao
WAZUH_PASSWORD=rB69fk@PK5LgDk@yTqT
WAZUH_VERIFY_SSL=false

# Configuração do PostgreSQL
PGHOST=localhost
PGPORT=5433
PGDATABASE=cybermesh_cmdb
PGUSER=cmdb_cybermesh_user
PGPASSWORD=cmdb_cybermesh_10

# Configurações do Script
LOG_LEVEL=INFO
RUN_FOREVER=false
